@model ViewModels.Catalog.Login.LoginRequest

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Login</h1>
            </div>
        </div>
    </div>
</section>
<section class="login_box_area section_gap">
    <div class="container">

        <div class="col-lg-12">
            <div class="login_form_inner">
                <h3>Log in to enter</h3>
                <form class="row login_form" asp-action="Login" asp-controller="Login" method="post">
                     <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="col-md-12 form-group">
                        <input type="text" class="form-control" required id="username" asp-for="Username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
                    </div>
                    <div class="col-md-12 form-group">
                        <input type="password" class="form-control" required asp-for="Password" id="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
                    </div>
                    <div class="col-md-12 form-group">
                        <button type="submit" value="submit" class="primary-btn">Log In</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

